<%= form_with(model: @todo, local: true) do |f| %>
	<div class="campo">
		<%= f.label :ToDo_description %> 
		<%= f.text_field :description %>
	</div>
	<div class="campo">
	<%= f.label :Completed %>
	<%= f.check_box :completed %>
	</div>
	<%= f.submit :Guardar, :class => 'btn btn-primary' %>
<% end %>